[submodule "BlackBarLabs.Web"]
	path = BlackBarLabs.Web
	url = https://github.com/blackbarlabs/BlackBarLabs.Web.git
[submodule "BlackBarLabs.Persistence.Azure"]
	path = BlackBarLabs.Persistence.Azure
	url = https://github.com/blackbarlabs/BlackBarLabs.Persistence.Azure.git
[submodule "BlackBarLabs.Security"]
	path = BlackBarLabs.Security
	url = https://github.com/blackbarlabs/BlackBarLabs.Security.git
[submodule "BlackBarLabs.Api"]
	path = BlackBarLabs.Api
	url = https://github.com/blackbarlabs/BlackBarLabs.Api.git
[submodule "BlackBarLabs.Security.AuthorizationServer.Persistence"]
	path = BlackBarLabs.Security.AuthorizationServer.Persistence
	url = https://github.com/blackbarlabs/BlackBarLabs.Security.AuthorizationServer.Persistence.git
[submodule "BlackBarLabs.Persistence"]
	path = BlackBarLabs.Persistence
	url = https://github.com/blackbarlabs/BlackBarLabs.Persistence.git
[submodule "BlackBarLabs.Security.CredentialProvider"]
	path = BlackBarLabs.Security.CredentialProvider
	url = https://github.com/blackbarlabs/BlackBarLabs.Security.CredentialProvider.git
[submodule "BlackBarLabs.Security.CredentialProvider.Facebook"]
	path = BlackBarLabs.Security.CredentialProvider.Facebook
	url = git@github.com:blackbarlabs/BlackBarLabs.Security.CredentialProvider.Facebook.git
[submodule "BlackBarLabs.Security.AuthorizationServer.Persistence.Azure"]
	path = BlackBarLabs.Security.AuthorizationServer.Persistence.Azure
	url = git@github.com:blackbarlabs/BlackBarLabs.Security.AuthorizationServer.Persistence.Azure.git
[submodule "BlackBarLabs.Security.CredentialProvider.OpenIdConnect"]
	path = BlackBarLabs.Security.CredentialProvider.OpenIdConnect
	url = https://github.com/blackbarlabs/BlackBarLabs.Security.CredentialProvider.OpenIdConnect.git
[submodule "BlackBarLabs.Security.CredentialProvider.ImplicitCreation"]
	path = BlackBarLabs.Security.CredentialProvider.ImplicitCreation
	url = https://github.com/blackbarlabs/BlackBarLabs.Security.CredentialProvider.ImplicitCreation.git
[submodule "BlackBarLabs.Security.CredentialProvider.Voucher"]
	path = BlackBarLabs.Security.CredentialProvider.Voucher
	url = https://github.com/blackbarlabs/BlackBarLabs.Security.CredentialProvider.Voucher.git
[submodule "BlackBarLabs.Security.Authorization"]
	path = BlackBarLabs.Security.Authorization
	url = https://github.com/blackbarlabs/BlackBarLabs.Security.Authorization.git
[submodule "BlackBarLabs.Security.AuthorizationClient"]
	path = BlackBarLabs.Security.AuthorizationClient
	url = https://github.com/blackbarlabs/BlackBarLabs.Security.AuthorizationClient.git
[submodule "BlackBarLabs.Core"]
	path = BlackBarLabs.Core
	url = https://github.com/blackbarlabs/BlackBarLabs.Core.git
